.lot {
  height: 65px;
  width: 65px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lot:hover {
  cursor: pointer;
}

.lot.active {
  background: #819ae0;
}
